<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .title {
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
      }
      .todo-done {
        text-decoration: line-through;
      }
      .container {
        padding: 10px 10px 10px 10px;
      }
      .panel-borderless {
        border: 0;
        box-shadow: none;
      }
      .pointer {
        cursor: pointer;
      }
    </style>
    <title>Todolist APP</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="card card-body bg-light">
        <div class="title">:: Todolist APP</div>
      </div>
      <div class="card card-default card-borderless">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <div class="input-group">
                <input
                  id="msg"
                  type="text"
                  class="form-control"
                  name="msg"
                  placeholder="할일을 여기에 입력!"
                  v-model="todo"
                />
                <span class="btn btn-primary input-group-addon" @click="addTodo"
                  >추가</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li
              class="list-group-item"
              v-for="item in todolist"
              :key="item.id"
              :class="{'list-group-item-success': item.completed}"
            >
              <span
                class="pointer"
                :class="{'todo-done': item.completed}"
                @click="toggleCompleted(item.id)"
                >{{ item.todo }}</span
              >
              <span
                class="float-end badge bg-secondary pointer"
                @click="deleteTodo(item.id)"
                >삭제</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        name: 'App',
        data() {
          return {
            todo: '',
            todolist: [
              {
                id: new Date().getTime(),
                todo: '자전거 타기',
                completed: false,
              },
              {
                id: new Date().getTime() + 1,
                todo: '딸과 공원 산책',
                completed: true,
              },
              {
                id: new Date().getTime() + 2,
                todo: '일요일 애견 카페',
                completed: false,
              },
              {
                id: new Date().getTime() + 3,
                todo: 'Vue 원고 집필',
                completed: false,
              },
            ],
          };
        },
        methods: {
          addTodo() {
            if (this.todo.length >= 2) {
              this.todolist.push({
                id: new Date().getTime(),
                todo: this.todo,
                completed: false,
              });
              this.todo = '';
            }
          },
          deleteTodo(id) {
            let index = this.todolist.findIndex((item) => id === item.id);
            this.todolist.splice(index, 1);
          },
          toggleCompleted(id) {
            let index = this.todolist.findIndex((item) => id === item.id);
            this.todolist[index].completed = !this.todolist[index].completed;
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
